.pixs1 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/91169b9abde0d5df19597e8cca2f044f81f0ce23/icons/svg/1.svg");
}

.pixs2 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/91169b9abde0d5df19597e8cca2f044f81f0ce23/icons/svg/2.svg")
}

.pixs3 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/91169b9abde0d5df19597e8cca2f044f81f0ce23/icons/svg/3.svg")
}

.pixs4 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/91169b9abde0d5df19597e8cca2f044f81f0ce23/icons/svg/4.svg")
}

.pixs5 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/91169b9abde0d5df19597e8cca2f044f81f0ce23/icons/svg/5.svg")
}

.pixsgithub {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/91169b9abde0d5df19597e8cca2f044f81f0ce23/icons/svg/github.svg")
}