.pixp1 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/refs/heads/main/icons/png/1.png");
}

.pixp2 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/refs/heads/main/icons/png/2.png")
}

.pixp3 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/refs/heads/main/icons/png/3.png")
}

.pixp4 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/refs/heads/main/icons/png/4.png")
}

.pixp5 {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/refs/heads/main/icons/png/5.png")
}

.pixpgithub {
    background-image: url("https://raw.githubusercontent.com/nico1monte/PixelIcns/refs/heads/main/icons/png/github.png")
}